nav{
  a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;

    &:visited, &:link{
      color: #607D8B;
    }

    &:hover{
      color: #039be5;
      background-color: #CFD8DC;
    }

    &.active{
      color: #039be5;
    }
  }
}

.container {
  margin-top: 10px;
  width: 50%;
  height: 500px;
  border: 1px solid #9AA6B0;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.phone h3{
  text-align: center;
}
